@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(./city.jpg) no-repeat center/cover;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(./photo-1503803548695-c2a7b4a5b875.jfif);
  width: 600px;
  padding: 30px;
  border-radius: 10px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advice {
  font-size: 27px;
  text-align: center;
  color: white;
  text-shadow: 0 0 20px black;
  height: 160px;
  display: flex;
  align-items: center;
}

.advice-button {
  width: 180px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(250, 53, 53);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.2s;
}

.advice-button:hover {
  box-shadow: 0 0 10px red;
}
